/* CSS DOCUMENT */

/* my css begins here */
html {}

nav {
    font-family: sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    background: #000000;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
        
}

ul {
    list-style: none;
}

li {
    float: left;
    border: 1px solid transparent;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: .5s;
}

a:hover {
    background-color: slategray;
    padding: 15px;
    transition: .5s;
}
a:visited {
    text-decoration: none;
    color: white;
}


/* this is the title*/
/* google font is used for there*/
#content {
    font-family: 'Oxygen', sans-serif;
    margin-top: 100px;
    line-height: .4;
}

#content h3 {
    font-weight: 400;
    font-size: 1.5em;
}


table td {
    
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 2.5px 2em;
}

table .nopadding {
    padding-left: 10px;
    font-weight: 600;
}

table th {
    vertical-align: baseline;
}

table {
    width: 100%;
    font-family: sans-serif;
    border-collapse: collapse;
}

#leftalign {
    text-align: left;
}

tr:nth-child(even) {
    background-color: beige;
}

tr:nth-child(2) {
    border-top: 1px solid #e2e2e2;
}

tr:nth-child(8) {
    border-bottom: 1px solid #e2e2e2;
}

.italic {
    font-style: italic;
    font-weight: 100;
}
/* input contact page css begins */
.formcontainer{
   max-width: 570px;
    background: #f8f8f8;
    padding: 20px;
    font-size: .95em;
     font-family: 'Oxygen', sans-serif;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 5px solid #559570;
    
}
.formcontainer img{
    height: 25px;
    margin: 0 auto;
}
input {
    padding: 8px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}
input:hover{
    box-shadow: 0 0 1px #020202;
   -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}
#submit{
    
   
    background-color: #35b16e;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 12px;
    text-decoration: none;
}